@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'poopins' , sans-serif;
    box-sizing: border-box;
   
}
nav{
    display:flex;
    align-items: center;
    padding: 20px 8%;
    justify-content: space-between;
}
nav .logo{
    font-size: 32px;
    font-weight: 600;
    cursor: pointer;
}
nav ul li{

    list-style-type: none;
    display: inline-block;
    cursor: pointer;

}
nav ul li a{
    display: block;
    margin: 0 10px;
    color: #000;
    font-weight: 500;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}

nav ul li a::before{
    content: '';
    position:absolute;
    bottom: 0;
    left: 0;
    background-color: #000;
    width: 0%;
    height: 2.5px;
    transition: all 0.3s ease;
}

nav ul li a:hover::before{
    width: 100%;

}
.flex-box{
    display: flex;
    width: 1000px;
    margin: 20px auto;
}
.left{
    width:40%;
}
.big-img{
    width:250px;
}
.big-img img{
 width:  inherit;
}
.images{
    display: flex;
    width:60%;
    justify-content: space-between;
    margin-top: 15px;
}
.small-img{
    width:40px;
    overflow: hidden;
    border: 1.5px solid black;
}
.small-img img{
    width: inherit;
    cursor: pointer;
    transition: all 0.3s ease;
}
.small-img :hover img{
    transform: scale(1.2);
}
.url{
    font-size: 16px;
    font-weight: 400;
    
    color: rgb(18, 112, 245);
}
}
.pname{
    font-size: 22px;
    font-weight: 400;
    margin-top: 50px;
}
.ratings{
   
    color:rgb(255,102,0);
}
.price{
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;
}
.size{
    display: flex;
    align-items: center;
    margin: 0 px;
}
.size p{
    font-size: 18px;
    font-weight: 600;
}
.psize{
    width:60px;
    height:20px;
    border:1px solid #ff5e00;
    color: #000;
    text-align: center;
    margin: 0 10px;
}

.psize.active{
    border-width: 1.5px;
    color:#ff5e00;
    font-weight: 500;
}
.quantity{
    display: flex;
}
.quantity p{

font-size:18px;
font-weight:600 ;

}
.quantity input{
width:40px;
font-size: 17px;
    font-weight: 500;
    text-align: center;
    margin-left: 15px;
}
.btn-box {
    display: flex;
    margin: 20px 0;
}
.btn-box button{
    font-size:18px;
    padding:8px 25px;
    border:none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
}
.cart-btn{
    background-color: #ff5e00;
    margin-right: 10px;
}
.buy-btn{
background-color: #007bff;
}



























